.iphone-13-14-1-2wW {
    align-items: center;

    flex-direction: column;
    overflow: hidden;
    position: absolute;
    width: 1900px;
  margin-left: -150px;
  margin-top: -20px;
 
}
    .auto-group-8bpg-rvY {
      background-color: #223626;
      border-radius: 1.5rem;

      flex-shrink: 0;
   height: 250px;
     margin-left: 100px;
    
    }
    .profile{
      position: absolute;
      background-color:#233627 ;
      cursor: pointer;
      height: 15rem;
object-fit: contain;
vertical-align: top;
margin-top: 10px;
margin-left: 180px;
width: 15rem;
border-radius: 1.5rem;
     
    }
  
      .menu-n5S {
        background-color:#233627 ;
        cursor: pointer;
  height: 15rem;
  object-fit: contain;
  vertical-align: top;
  width: 15rem;
  margin-left: 1570px;
  position: relative;
  border-radius: 1.5rem;
margin-top: 10px;
        
      }
   


  
        .rectangle-10-Vtx {
          background-color: #0a3b15;
          border-radius: 4rem;
          height: 12rem;
         position: absolute;
       margin-top: 85em;
       margin-left: 200px;
     
         
          width: 85rem;
          cursor: pointer;
        }
        .electronic-waste-R1v {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 800;
          height: 2.1rem;
          left: 35rem;
          letter-spacing: 0.33rem;
          line-height: 1.3625;
          position: absolute;
          top: 67rem;
          white-space: nowrap;
          width: 18.6rem;
       
     
          
        }
        .battery-3oz {
          height: 7rem;
          left: 17rem;
          object-fit: contain;
          position: absolute;
        margin-top: 73rem;
          vertical-align: top;
          width: 7rem;
        }
        .output-onlinepngtools-1-Wha {
  left: 170px;
  top: 60;
  position: absolute;
width: 70rem;
       
        }
        .wasteorganic{
          height: 7rem;
  position: absolute;
         
          margin-top: 102rem;
           width: 7rem;
     
           left: 17rem;
         
        }
      .auto-group-6kb6-BHv {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 4rem;
        color: #ffffff;
        top:100rem;
        position: absolute;
       height: 12rem;
    cursor: pointer;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 800;
        width: 1355px;
        justify-content: center;
        letter-spacing: 0.33rem;
        line-height: 1.3625;
      margin-left: 200px;
        white-space: nowrap;
        
     
      }
      .plastic{
        position: absolute;
   bottom: -70px;
   left: 17rem;
   width: 60px;

   width: 8rem;
   height: 8rem;
    left: 17rem;
      }
      .auto-group-5thj-Bx8 {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 600;
        height: 12rem;
        justify-content: center;
        letter-spacing: 0.33rem;
cursor: pointer;
        position: absolute;
        white-space: nowrap;
     width: 1360px;
  margin-left: 12rem;
        margin-top: 127rem;
      }
      .solidwaste{
        position: absolute;
      margin-top: 155rem;
        left:260px;
        width: 7rem;
   height: 7rem;

      }
      .auto-group-xewg-3De {
        align-items: center;
        background-color: #0b3c15;
        border-radius: 4rem;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 7rem;
        font-weight: 800;
        height: 12rem;
        justify-content: center;
        letter-spacing: 0.33rem;
 
   cursor: pointer;
        white-space: nowrap;
   width: 1350px;
        margin-left: 200px;
        position: absolute;
        margin-top:153rem;
      }
      .zalypa{
        position: absolute;
       bottom:-910px;
       
       left:260px;
        width: 7rem;
   height: 7rem;

      }
      .auto-group-mp8g-G6Q {
        background-color: #0b3c15;
        border-radius: 1.5rem;
        box-sizing: border-box;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 800;
        letter-spacing: 0.33rem;
        line-height: 1.3625;
      
        height: 12rem;
       position: absolute;
        width: 1350px;
        margin-left: 200px;
        margin-top: 180rem;
        cursor: pointer;
      }
      .auto-group-n85r-rKW {
        margin-left: 100px;
        align-items: center;
        background-color: #233627;
        border-radius: 3rem;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 1600px;
        position: absolute;
        height: 250px;
        margin-top: 3400px
        
        
      }
        .vector-mBa {
          flex-shrink: 0;
          height: 5rem;
        border-radius: 1.5rem;
          object-fit: contain;
          vertical-align: top;
         margin-left: 50px;
          cursor: pointer;
          background-color:#233627 ;
          height: 15rem;
          
          width: 15rem;
          
        }
        .vector-t1J {
          flex-shrink: 0;
          border-radius: 1.5rem;
          margin-left: 180px;
          position: absolute;
          object-fit: contain;
          vertical-align: top;
       
          cursor: pointer;
          background-color:#233627 ;
          height: 15rem;
          
          width: 15rem;
        }
        .fluent-people-community-24-regular-QVS {
          flex-shrink: 0;
         
          border-radius: 1.5rem;
          height: 15rem;
          
          width: 15rem;
          margin-left: 630px;
          position: absolute;
          object-fit: contain;
          vertical-align: top;
      
          cursor: pointer;
          background-color:#233627 ;
        }
        .fe-activity-7ue {
          flex-shrink: 0;
          height: 15rem;
          
          width: 15rem;
          border-radius: 1.5rem;
        
          margin-top: 0rem;
          object-fit: contain;
          vertical-align: top;
    
          cursor: pointer;
          background-color:#233627 ;
          margin-left: 1050px;
          position: absolute;
        }
    
    

  